<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./assets/icons/snowfall.png" type="image/png" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>Rutuja-Nathe | Portfolio</title>
</head>

<body>

  <!-- Header -->
  <header class="flex just-btwn align-cntr">
    <div class="brandLogo">
      <span>P</span>ortfolio
    </div>
    <nav class="navbarMenu">
      <ul class="flex just-btwn align-cntr">
        <li><a href="#project">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </header>
  <!-- Header -->


  <!-- Hero -->
  <section class="title flex just-btwn align-cntr">
    <div class="titleDes">
      <div class="hi">
        <p>
          Hi, my name is <b>Rutuja Nathe.</b></br></br>
          Fullstack Learning Developer
        </p>
      </div>
      <div class="btn">
        <button><a href="https://github.com/Rutuja-Nathe">GITHUB</a></button>
        <button><a href="https://www.linkedin.com/in/rutuja-nathe-0a1270234/">LINKEDIN</a></button>
        <button><a href="#">DOWNLOAD CV</a></button>
      </div>
    </div>
    <div class="titlePic">
      <img src="../assets/img/Rutujaph.png" alt="profile-pic" class="profilePic">
    </div>
  </section>
  <!-- Hero -->



  <!-- Main -->
  <main>
    <!-- About in Main -->
    <div id="about">
      <h1>About</h1>
      <p>Hello, My name is Rutuja Nathe. I have completed M.S.C in Mathematics. I know the programming launguge of C, C++, java. Also known the html, css.</p>
    </br>
      <div class="aboutItem flex just-even align-cntr">
        <div class="work">
          <h2>Web Development</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nesciunt, doloribus exercitationem nam explicabo pariatur nostrum quo voluptas architecto. Laudantium nisi ad inventore ab dicta recusandae at explicabo tempore nemo.</p>
        </div>
        <div class="work">
          <h2>GitHub</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur reprehenderit aliquid ratione culpa dignissimos temporibus enim ex, nobis fugit corporis odio, illum quod, pariatur dicta sed mollitia alias delectus quibusdam.</p>
        </div>
        <div class="work">
          <h2>Webflow and Setup</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores id repudiandae, quis reiciendis amet dignissimos ipsa tenetur obcaecati placeat optio non delectus, laudantium culpa soluta excepturi nesciunt tempora, doloremque ducimus.</p>
        </div>
      </div>
    </div>

    <!-- About in Main -->

    <!-- Skill in Main -->
    <div id="skill">
      <h1 class="skillHead">My Skills & Tools</h1>
      <div class="skills flex just-even align-cntr f-wrap">
        <img src="../assets/img/C.png" alt="C" class="skill-item">
        <img src="../assets/img/C++.png" alt="c++" class="skill-item">
        <img src="../assets/img/Java.png" alt="java" class="skill-item">

        <img src="../assets/img/Html.png" alt="html" class="skill-item">
        <img src="../assets/img/Css.png" alt="css" class="skill-item">
        <img src="../assets/img/JS.png" alt="javascript" class="skill-item">
        <img src="../assets/img/React.png" alt="react" class="skill-item">
        <img src="../assets/img/redux-icon.png" alt="redux" class="skill-item">
        <img src="../assets/img/django.png" alt="django" class="skill-item">
        <img src="../assets/img/Vector.png" alt="express" class="skill-item">
        <img src="../assets/img/aws.png" alt="aws" class="skill-item">
        <img src="../assets/img/docker.png" alt="docker" class="skill-item">
      </div>
    </div>
    <!-- Skill in Main -->

    <!-- Project in Main -->
    <div id="project">
      <h1 class="projectHead">My Projects</h1>

      <div class="projItem flex just-even align-cntr">
        <div class="projectDes">
          <h2>Project 1</h2>
          <p>Project Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab nihil dolorum, quisquam molestiae vitae esse hic eos voluptatem iure soluta facere dicta inventore debitis mollitia animi temporibus doloremque ducimus magni!</p>
        </div>

        <div class="projectScst">
          <img src="../assets/img/image 47.png" alt="pro-1" class="projPic">
        </div>
      </div>  
      
      <div class="projItem flex just-even align-cntr">
        <div class="projectDes">
          <h2>Project 2</h2>
          <p>Project Description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque eaque est incidunt aspernatur molestias! Amet, ipsa quod! Placeat repudiandae quos vitae. Qui reprehenderit fugiat sapiente excepturi voluptas ut porro quidem.</p>
        </div>
      </div>
    </div>
    </div>
    <!-- Project in Main -->
  </main>
  <!-- Main -->



  <!-- Footer -->
  <footer id="contact">
    <h1>Hope you found my portfolio interesting!</h1>
    <p>You can reach me at:
      <a id="email" href="https://mail.google.com/mail/u/0/?ogbl#inbox" target="__blank">rutujanathe24@gmail.com</a>
    </p>
    <hr>
    <div class="socialIcons">
      <a href="https://github.com/Rutuja-Nathe"><img src="../assets/img/github.png" alt="github" class="git"></a>
      <a href="https://www.linkedin.com/in/rutuja-nathe-0a1270234/"><img src="../assets/img/linkedin.png" alt="linkedin" class="link"></a>
    </div>
    <p id="copy">Rutuja Portfolio - &copy; 2023 All Rights Reserved</p>
  </footer>
  <!-- Footer -->

</body>

</html>